.head {
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
	/* border-radius: 2px; */
	padding: 0 0 0 20px;
}
.text {
	letter-spacing: 1px;
}
.value {
	opacity: 0.7;
	margin-left: 16px;
}
.btnAdd {
	padding: 10px 16px;
	border: none;
	cursor: pointer;
	border-left: 1px solid rgb(209, 209, 209);
	background: none;
	color: black;
	border-radius: 0;
	
}
.btnAdd:focus , .btnAdd:hover {
	outline:none;
	background-color: rgb(211, 211, 211);

}